.logo {
    background-image: url(https://img.freepik.com/free-photo/local-food-meal-composition-with-copy-space_23-2148833777.jpg?t=st=1726664654~exp=1726668254~hmac=da77f24bd91b9e126dc8c0cbbb621b4bf9f81371fc477a16aa3973f858a37264&w=1380);
    background-size: cover;
    width: 100vw;
    height:80vh;
}